<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand">Restaurant Red Corner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
          
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['acceuil']"> Acceuil <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" *ngIf="Manager || Client">
          <a class="nav-link" [routerLink]="['createreservation']"> Reservation </a>
        </li>

        <li class="nav-item" *ngIf="Manager">
            <a class="nav-link" [routerLink]="['user']"> Listes des Inscrits </a>
          </li>

        <li class="nav-item" *ngIf="Manager || Serveur">
            <a class="nav-link" [routerLink]="['plat']"> Nos menus </a>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>

          <div *ngIf="Manager" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['reservation']"> Réservations </a>
            <a class="dropdown-item" [routerLink]="['facture']"> Factures </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true"> Administration </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>