<form class="bodyUser">
 
    <th class="body">
     
      <tr>
        <div class="form-group">
            <label for="formGroupExampleInput2"> Entrez votre mail : </label>
            <input style="width:700px" name="nom" type="text" class="form-control" id="adresseMail" [(ngModel)]= "newLogin.adresseMailLogin">
        </div>
      </tr>
      <tr>
        <div class="form-group">
            <label for="formGroupExampleInput2"> Entrez votre mot de passe: </label>
            <input style="width:700px" name="prenom" type="password" class="form-control" id="password" [(ngModel)]= "newLogin.passwordLogin">
        </div>
      </tr>
      
      <tr class="boutonUser">
      <button type = "submit" (click)="connecionUser()" class="btn btn-dark"> Se connecter </button>
      </tr>
    
    </th>
    
    </form>
