<body class="body">

    <tr>
        <th>
        <div class="image">
        <img src="assets\img\redCorner1.jpg" id="fondecran" class="fondecran" style="width: 805px;"/>
        </div>
        </th>
    
        <th>
        <div>
            
           <p class="texte"> BIENVENUE AU RED CORNER ! <br><br>
        
        Le restaurant red corner vous invite à un voyage multiculturel et culinaire. Venez déguster nos assiettes préparées par nos chefs cuisinier venuent du monde entier pour venir faire découvrir les saveurs de leurs cultures.<br><br>
    Laissez vous séduire par la antipasti Burrata et sa fameuse assiette de charcuterie à l'italienne. Partagez entres amis la délicieuse pizza Silicienne ou son Rissotto de poulet accompagné d'un bon vin du pays. Mais peut etre préferez-vous partir à l'autres bout du monde en quetes du mexique et de ces savoureuse Enchiladas ? <br>
    <br> qu'il ensoit c'est à vous de choisir votre déstination !<br>
    Toute l'équipe vous attends pour partager un agréable moment !</p>
        </div>
        </th>
    
    </tr>
    </body>
